In [1]:
import os, json
# import pandas as pd
from src.benchmark.utils import parser
path = "data/benchmark"

In [2]:
json_files = [pos_json for pos_json in os.listdir(path) if pos_json.endswith('.json')]
num_exp = len(json_files)

In [3]:
data = []
for index, js in enumerate(json_files):
    with open(os.path.join(path, js)) as json_file:
        data.append(json.load(json_file))

In [4]:
random, sarsa = parser(data)

In [18]:
sarsa.loc[sarsa['epsilon']==0].loc[sarsa['alpha']==0]

     nodes  epsilon  alpha  gamma                    reward
0        3      0.0    0.0    0.0       [-10, 0, 10, 0, 10]
1        3      0.0    0.0    0.5         [1, -9, 1, 2, -8]
2        3      0.0    0.0    1.0        [1, 11, 1, 11, 12]
27       4      0.0    0.0    0.0        [1, 2, -8, -7, -6]
28       4      0.0    0.0    0.5       [1, 11, 12, 13, 23]
29       4      0.0    0.0    1.0     [-10, -9, -8, -7, -6]
54       3      0.0    0.0    0.0        [1, -9, -8, 2, -8]
55       3      0.0    0.0    0.5         [1, 2, 12, 2, 12]
56       3      0.0    0.0    1.0      [-10, -9, -8, 2, -8]
81       3      0.0    0.0    0.0     [-10, 0, -10, 0, -10]
82       3      0.0    0.0    0.5        [10, 0, 10, 0, 10]
83       3      0.0    0.0    1.0     [-10, 0, -10, 0, -10]
108      4      0.0    0.0    0.0  [-10, -9, -19, -18, -28]
109      4      0.0    0.0    0.5     [1, -9, -8, -18, -17]
110      4      0.0    0.0    1.0  [-10, -9, -19, -18, -28]
135      3      0.0    0.0    0.0     [-10, 0, -10, 0, -10]
136      3      0.0    0.0    0.5        [10, 0, 10, 0, 10]
137      3      0.0    0.0    1.0     [-10, 0, -10, 0, -10]
162      4      0.0    0.0    0.0      [-10, -9, -8, -7, 3]
163      4      0.0    0.0    0.5         [1, -9, 1, 2, -8]
164      4      0.0    0.0    1.0       [1, 11, 12, 13, 23]
189      4      0.0    0.0    0.0         [10, 0, 1, 11, 1]
190      4      0.0    0.0    0.5      [10, 20, 10, 20, 30]
191      4      0.0    0.0    1.0       [-10, -9, 1, 2, -8]
216      4      0.0    0.0    0.0  [-10, -9, -19, -18, -28]
217      4      0.0    0.0    0.5     [1, -9, -8, -18, -17]
218      4      0.0    0.0    1.0  [-10, -9, -19, -18, -28]
243      3      0.0    0.0    0.0        [-10, -9, 1, 2, 3]
244      3      0.0    0.0    0.5          [10, 0, 1, 2, 3]
245      3      0.0    0.0    1.0          [10, 0, 1, 2, 3]